#!/bin/bash
{{- if eq .chezmoi.os "linux" }}

# This script only runs on Linux.
FONT_DIR="$HOME/.local/share/fonts/JetBrainsMonoNerd"
FONT_URL="https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.zip"

if [ ! -d "$FONT_DIR" ]; then
    echo "Installing JetBrains Mono Nerd Font..."
    mkdir -p "$FONT_DIR"
    TEMP_DIR=$(mktemp -d)
    cd "$TEMP_DIR"

    wget -q --show-progress "$FONT_URL" -O jbmono.zip
    unzip -q jbmono.zip -d "$FONT_DIR"

    [ -x "$(command -v fc-cache)" ] && fc-cache -fv

    rm -rf "$TEMP_DIR"
    echo "Font installation complete."
else
    echo "JetBrains Mono Nerd Font already installed."
fi
{{- end }}